:root {
  --theme-color: #1baeae;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.el-icon {
  vertical-align: text-bottom;
}

.el-pagination {
  justify-content: flex-end;
}
