:root {
  --theme-color: #1baeae;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  div {
    box-sizing: border-box;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.el-pagination {
  margin-top: 15px;
}

.el-icon {
  vertical-align: text-bottom;
}

.el-pagination {
  justify-content: flex-end;
}

.marginTop15 {
  margin-top: 15px;
}
.marginRight15 {
  margin-right: 15px;
}
.marginLeft15 {
  margin-left: 15px;
}
.marginBottom15 {
  margin-bottom: 15px;
}

.paddingTop15 {
  padding-top: 15px;
}
.paddingRight15 {
  padding-right: 15px;
}
.paddingLeft15 {
  padding-left: 15px;
}
.paddingBottom15 {
  padding-bottom: 15px;
}
