// 页面主体内容默认样式
.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  .page-content {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 7px 0 rgba(5, 34, 97, 0.1);
    flex: 1;
    height: 0;
    display: flex;
    flex-direction: column;
    .page-content-btns {
      margin-bottom: 10px;
    }
    .page-content-table {
      flex: 1;
      height: 0;
    }
  }
}

// 页面弹窗样式
.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
  align-items: center;
  font-weight: 700;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
