/* 面包屑转场动画 */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s ease;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  width: 100px;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* 路由转场动画 */

.routerSlide-enter-active {
  will-change: transform;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in 0.2s;
  z-index: 999;
}
.routerSlide-leave-active {
  will-change: transform;
  position: absolute;
  width: 100%;

  transition: all 0.3s ease-out;
  z-index: 999;
}
.routerSlide-enter-to {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.routerSlide-enter-from {
  transform: translate3d(-5%, 0, 0);
  opacity: 0;
}
.routerSlide-leave-to {
  transform: translate3d(5%, 0, 0);
  opacity: 0;
}
.routerSlide-leave-from {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
