
/*fade 忽隐忽现 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*fade-transform  左进右出*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s ease;
}
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/*fade-in  上进下出*/
.fade-in-leave-active,
.fade-in-enter-active {
  transition: all .4s ease;
}
.fade-in-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-in-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/*pop-in  大进小出*/
.pop-in-leave-active,
.pop-in-enter-active {
  transition: all .5s ease;
}
.pop-in-enter {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}
.pop-in-leave-to {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}


/*breadcrumb*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s ease;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  width: 100px;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}