/* 面包屑转场动画 */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s ease;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  width: 100px;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* 路由转场动画 */

.routerSlide-enter-active {
  position: absolute;
  top: 10px;
  width: 100%;
  transition: all 0.4s ease-in-out 0.2s;
}
.routerSlide-leave-active {
  position: absolute;
  top: 10px;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.routerSlide-enter-to {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.routerSlide-enter-from {
  transform: translate3d(-5%, 0, 0);
  opacity: 0;
}
.routerSlide-leave-to {
  transform: translate3d(5%, 0, 0);
  opacity: 0;
}
.routerSlide-leave-from {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
